<h2>Products List</h2>
<div style ="background-color:silver" 
*ngFor="let productOuter of products">
<!-- ID : {{product.id}} <br/> -->

<!-- Property Binding -->
<a [title]="productOuter.name + ' model'"
[routerLink]="['/products', productOuter.id]">
  {{ productOuter.name }}
</a>
<br/>

<p *ngIf="productOuter.description">
  Description: {{productOuter.description }}
</p>
<br/> 
<!-- Price : {{product.price}} <br/> -->
<hr/>

<!-- Event binding -->
 <button (click)="share()">
    Share product
  </button>

<!-- TheAngularselector -->
<app-product-alerts 
[productInner] = "productOuter"
(notify)="onNotify()">
  </app-product-alerts>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->